{{ define "main" }}

<h1>Go's reading list</h1>

<h3>A curated list of articles with interesting information about Golang</h3>

<h4>Categories</h4>
<a href="{{ "/basics" | relURL }}">Golang basics</a>
<a href="{{ "/test" | relURL }}">Testing</a>
<a href="{{ "/goroutines" | relURL }}">Goroutines</a>
<a href="{{ "/errors" | relURL }}">Errors</a>
<a href="{{ "/patterns" | relURL }}">Patterns / Project structure</a>
<a href="{{ "/tools" | relURL }}">Tools / Libraries</a>
<a href="{{ "/random" | relURL }}">Random Stuff</a>

<h4>Latest articles added</h4>
<a href="https://medium.com/better-programming/the-flyweight-pattern-in-go-a0712764195a">The Flyweight Pattern in Go</a>
<a href="https://medium.com/@kent.rancourt/go-pointers-when-to-use-pointers-4f29256ddff3">Go Pointers: When to Use Pointers</a>
<a href="https://medium.com/better-programming/how-to-improve-code-quality-with-an-automatic-check-in-go-d18a5eb85f09">How to Improve Code Quality With an Automatic Check in Go</a>
<a href="https://medium.com/@fsufitch/dependency-injection-and-testability-in-a-go-webservice-a91d0e5469dd">Dependency Injection and Testability in a Go Webservice</a>
<a href="https://towardsdatascience.com/grpc-for-production-go-2f62f334824">GRPC for production(Go)</a>
<a href="https://tech.xing.com/designing-errors-with-go-1-13-81692537457">Designing errors with Go 1.13</a>
<a href="https://medium.com/a-journey-with-go/go-how-does-a-goroutine-start-and-exit-2b3303890452">Go: How Does a Goroutine Start and Exit?</a>
<a href="https://www.ardanlabs.com/blog/2019/10/integration-testing-in-go-set-up-and-writing-tests.html">Integration Testing in Go: Part II - Set-up and Writing Tests</a>
<a href="https://remy.io/blog/how-to-use-diago-to-diagnose-cpu-and-memory-usage-in-go-programs/">How to use Diago to diagnose CPU and memory usage in Go programs</a>
<a href="https://ednsquare.com/story/learn-go-panic-and-recover-in-golang------1HSVNg">Panic and Recover in Golang</a>
<a href="https://blog.sbstp.ca/go-quirks/">Go Quirks</a>
{{ end }}
