{{ define "main" }}

<h1>Go's reading list</h1>

<h3>A curated list of articles with interesting information about Golang</h3>

<h4>Categories</h4>
<a href="{{ "/basics" | relURL }}">Golang basics</a>
<a href="{{ "/test" | relURL }}">Testing</a>
<a href="{{ "/goroutines" | relURL }}">Goroutines</a>
<a href="{{ "/errors" | relURL }}">Errors</a>
<a href="{{ "/patterns" | relURL }}">Patterns / Project structure</a>
<a href="{{ "/tools" | relURL }}">Tools / Libraries</a>
<a href="{{ "/random" | relURL }}">Random Stuff</a>

<h4>Latest articles added</h4>
<a href="https://eli.thegreenplace.net/2020/graceful-shutdown-of-a-tcp-server-in-go/">Graceful shutdown of a TCP server in Go</a>
<a href="https://rakyll.org/inlined-defers/">Inlined defers in Go</a>
<a href="https://sagikazarmark.hu/blog/getting-started-with-go-kit/">Getting started with Go kit</a>
<a href="https://medium.com/@mayank.gupta.6.88/understanding-golangs-defer-function-cd262e8cf54c">Understanding Golang’s Defer function</a>
<a href="https://medium.com/@teivah/1-year-of-event-sourcing-and-cqrs-fb9033ccd1c6">1 Year of Event Sourcing and CQRS</a>
<a href="https://medium.com/@mayank.gupta.6.88/polymorphism-with-golang-interfaces-b2f58a05b221">Polymorphism with Golang Interfaces</a>
<a href="https://medium.com/better-programming/golang-object-oriented-programming-f2e6448b8f24">Golang Object-Oriented Programming</a>
<a href="https://danishpraka.sh/2019/12/07/using-makefiles-for-go.html">Using Makefile(s) for Go</a>
<a href="https://scene-si.org/2019/12/11/dependency-injection-with-wire/">Go: Dependency injection with Wire</a>
<a href="https://www.joeldholmes.com/post/go-hex-arch/">Go Hex Arch</a>
{{ end }}
