{{ define "main" }}

<h1>Go's reading list</h1>

<h3>A curated list of articles with interesting information about Golang</h3>

<h4>Categories</h4>
<a href="{{ "/basics" | relURL }}">Golang basics</a>
<a href="{{ "/test" | relURL }}">Testing</a>
<a href="{{ "/goroutines" | relURL }}">Goroutines</a>
<a href="{{ "/errors" | relURL }}">Errors</a>
<a href="{{ "/patterns" | relURL }}">Patterns / Project structure</a>
<a href="{{ "/tools" | relURL }}">Tools / Libraries</a>
<a href="{{ "/random" | relURL }}">Random Stuff</a>
<a href="{{ "/security" | relURL }}">Security</a>
<a href="{{ "/grpc" | relURL }}">gRPC</a>

<h4>Latest articles added</h4>
<a href="https://itnext.io/using-service-objects-in-go-d899dc599335">Using Service Objects in Go</a>
<a href="https://romanyx90.medium.com/go-errors-with-additional-details-66873577f3a9">Go errors with additional details</a>
<a href="https://v0x.nl/articles/portable-apps-go-nextjs">Portable apps with Go and Next.js</a>
<a href="https://charly3pins.dev/blog/automate-your-github-profile-readme-with-go-and-github-actions/">Automate Your GitHub Profile README with Go and GitHub Actions</a>
<a href="https://qvault.io/golang/json-golang/">The Ultimate Guide to JSON in Go</a>
<a href="https://thenewstack.io/rust-vs-go-why-theyre-better-together/">Rust vs. Go: Why They’re Better Together</a>
<a href="https://dev.bitolog.com/grpc-long-lived-streaming/">gRPC Long-lived Streaming</a>
<a href="https://snyk.io/blog/go-security-cheatsheet-for-go-developers/">Go Security cheatsheet</a>
<a href="https://henvic.dev/posts/go/">The ecosystem of the Go programming language</a>
<a href="https://www.dudley.codes/posts/2021.02.23-golang-struct-organization/">How I Organize Structs in Go Projects</a>
<a href="https://developer20.com/refactoring-for-better-testability/">Refactoring for better testability</a>
<a href="https://hackernoon.com/go-the-complete-guide-to-profiling-your-code-h51r3waz">The Complete Guide to Profiling Your Code</a>
<a href="https://medium.com/better-programming/the-flyweight-pattern-in-go-a0712764195a">The Flyweight Pattern in Go</a>
<a href="https://medium.com/@kent.rancourt/go-pointers-when-to-use-pointers-4f29256ddff3">Go Pointers: When to Use Pointers</a>
<a href="https://medium.com/better-programming/how-to-improve-code-quality-with-an-automatic-check-in-go-d18a5eb85f09">How to Improve Code Quality With an Automatic Check in Go</a>
{{ end }}
